/* ##########Default Styles########## */
header {
    display:block;
}
body {
    line-height: 1;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 100%;
    margin: auto;
    color: #f4f;
    height: 100%;
    position: fixed;
    
}
.header-section-2 {
    width: 100%;
    padding-left: 15px;
    color: #000;
    }
.row {
    align-items: center;
    margin:0;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}


/* #######Custom Styles######## */
/* ##### First Column ####### */
div.col-2 {
    background-color: rgba(20, 20, 66, 0.904);
    margin: 0;
    position: fixed;
    height: 100%;
    text-align: left;
    line-height: 10px;
    padding-top: 10px;
}
div.box {
margin-left: 10px;
}
div.box ul {
    list-style: none ;
    padding: 0;
    font-size: 13px;
    opacity: calc(.7);
    line-height: 15px;
}
header.header1 {
   margin: 15px;
   text-align: center;
   line-height: 7px;
}
header.header2 {
    font-size: 15px;
    font-weight: 200;
}
header.header3 {
    color: rgba(231, 231, 7, 0.887);
    font-size: 13px;
    font-weight: 120;
}
p {
    font-size: 15px;
    margin: 3%;
}
hr {
    width: 65%;
    opacity: calc(.65);
}
/* ######### Second Column ######### */
div.col-8 {
    background-color: #f4f4;
    margin-bottom: 0;
}
header.header4 {
    color: rgb(21, 21, 85);
    font-size: 20px;
    margin-top: 10px;
}
label {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}